---
import { formatDate } from "@utils";
import { getCollection } from "astro:content";

import NarrowLayout from "@layouts/NarrowLayout.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((post) => {
    return {
      params: { path: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();

export const prerender = true;
---

<NarrowLayout title={post.data.title} description={post.data.lead}>
  <div class="m-auto max-w-[700px]">
    <h1 class="text-4xl font-medium md:px-6 md:text-5xl">
      {post.data.title}
    </h1>
    {
      post.data.lead && (
        <p class="mt-5 text-xl md:px-6 md:text-2xl">{post.data.lead}</p>
      )
    }
    <div
      class="mt-4 flex items-center gap-2 text-xs uppercase tracking-wider md:px-6"
    >
      <p>
        Published on <strong>{formatDate(post.data.datePublished)}</strong>
      </p>
      <span class="text-neutral-400 dark:text-neutral-600">∕</span>
      <p>
        {Math.floor(post.body.split(" ").length / 200)} minutes reading time
      </p>
    </div>
    <div
      class="prose-a:underlined-link prose mt-10 prose-headings:font-medium prose-figcaption:px-6 prose-figcaption:text-center prose-figcaption:italic prose-img:rounded-md dark:prose-invert md:prose-headings:px-6 md:prose-p:px-6"
    >
      <Content />
    </div>
  </div>
</NarrowLayout>
