---
import { formatDate } from "@utils";
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

const blogPosts = await getCollection("blog");

const description = "João's blog about design, technology, music and life.";

export const prerender = true;
---

<BaseLayout title="Blog" description={description} heading="Blog">
  <ul class="mt-10">
    {
      blogPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`} rel="prefetch">
            <h2 class="underlined-link text-2xl font-medium">
              {post.data.title}
            </h2>
          </a>
          <p class="mt-4 items-center gap-2 text-xs uppercase tracking-wider">
            {formatDate(post.data.datePublished)}
          </p>
          <p class="mt-3">{post.data.lead}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
