---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import Education from "@components/home/Education.astro";
// import ProjectsWrapper from "@components/shell/ProjectsWrapper.astro";
import MetaHead from "@components/shell/MetaHead.astro";

// const featureProjects = info.projects.map((project, index) => {
//   if (project.isFeatured && index < 6) {
//     return project;
//   }
// });
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Senior UX Designer in Berlin"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Education title={"EDUCATION"} details={info.education} />
      <!-- <section>
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section> -->
    </Layout>
  </body>
</html>
