---
import { experience } from "@data";

import ButtonLink from "@components/ButtonLink.astro";
import ListSection from "@components/home/ListSection.astro";
import SkillsList from "@components/home/SkillsList.astro";
interface Props {
  keyOnly?: boolean;
}

const { keyOnly } = Astro.props;

const list = experience.filter((item) => (keyOnly ? item.key : true));
---

<ListSection heading={keyOnly ? "Key Experiences" : "Experience"}>
  {
    list.map((item, index, items) => (
      <div>
        <div class="flex flex-col md:flex-row justify-between items-baseline flex-wrap">
          <div class="flex gap-2">
            <h3 class="text-xl font-medium">
              {item.title} <span class="text-xl font-light opacity-50">—</span>{" "}
              {item.company}
            </h3>
          </div>
          <p class="text-sm dark:text-gray mt-1 md:m-0">
            {item.startDate} — {item.endDate}
          </p>
        </div>
        <p class="text-sm mt-1 text-neutral-500 dark:text-neutral-400">
          {item.location}
        </p>
        <ul class="my-7 list-disc pl-4 flex flex-col gap-2">
          {item.description.map((item) => (
            <li class="dark:text-gray">{item}</li>
          ))}
        </ul>
        {item.skills && <SkillsList skills={item.skills} />}
        {index !== items.length - 1 && <hr class="mt-10 dark:opacity-10" />}
      </div>
    ))
  }
  {
    keyOnly && (
      <div>
        <ButtonLink href="/experience" iconLeft="tabler:arrow-right">
          See full experience & education
        </ButtonLink>
      </div>
    )
  }
</ListSection>
