---
import { IExperiences } from "@types";
import SkillsList from "./SkillsList.astro";

const { title, details } = Astro.props as IExperiences;
---

<section
  class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
>
  <h2 class="w-[15rem] mt-16">{title}</h2>
  <div class="w-full">
    {
      details.map((item) => (
        <div class="my-16">
          <div class="flex justify-between items-center flex-wrap">
            <div class="flex gap-2">
              <h3 class="text-xl font-semibold uppercase">{item.company}</h3>
              <span class="text-xl font-semibold">—</span>
              <h4 class="text-xl font-semibold">{item.title}</h4>
            </div>
            <p class="text-sm dark:text-gray">
              {item.startDate} — {item.endDate}
            </p>
          </div>
          <p class="text-sm mt-2 text-blue-600 dark:text-blue-400">
            {item.location}
          </p>
          <ul class="mt-3 list-disc list-inside">
            {item.description.map((item) => (
              <li class="dark:text-gray">{item}</li>
            ))}
          </ul>
          {item.skills && <SkillsList skills={item.skills} />}
        </div>
      ))
    }
  </div>
</section>
